{% load static %}
<html lang="en">
   <head>
    <title>about CarNex</title>
    <meta name="description" content="{{setting.description}}">
    <meta name="keywords" content="{{setting.keywords}}">
    {% include 'head.html' %}
</head>
<body>
<div id="page">
    {% include 'header.html'%}
    <div class="content">
        <div class="account-login container">
        {{ setting.about_us|safe }}
        </div>
    </div>

{% include 'footer.html'%}
</div>
{% include 'footer2.html'%}
</body>
</html>