{% load static %}
<html lang="en">
    {% include 'head.html' %}
<body>
<div id="page">
    {% include 'header.html'%}
    <div class="content">
           <div class="category-products">
             <ol class="products-list" id="products-list">
                 {% for rs in cars %}
                  <li class="item first">
                    <div class="product-image"> <a href="/car/{{ rs.id }}/{{ rs.slug }}" title="{{ rs.title}}"> <img class="small-image" src="{{ rs.photo.url }}" alt="{{ rs.slug}}"> </a> </div>
                    <div class="product-shop">
                      <h2 class="product-name"><a href="/car/{{ rs.id }}/{{ rs.slug }}" title="HTC Rhyme Sense">{{ rs.title}}</a></h2>
                      <div class="desc std">
                        <p>{{ rs.description}} </p>
                        <p>{{ rs.details}}<a class="link-learn" title="" href="/car/{{ rs.id }}/{{ rs.slug }}">Learn More</a> </p>
                      </div>
                      <div class="price-box">
                        <p class="special-price"> <span class="price-label"></span> <span id="product-price-212" class="price"> ${{ rs.price }} </span> </p>
                      </div>
                    </div>
                  </li>
                 {% endfor %}
            </ol>
          </div>

    </div>

{% include 'footer.html'%}
</div>
{% include 'footer2.html'%}
</body>
</html>