{% extends 'homebase.html' %}
{% load static %}

{% block title %}{{ setting.title }}{% endblock %}
{% block description %}{{ setting.description }}{% endblock %}
{% block keywords %}{{ setting.keywords }}{% endblock %}

{% block sidebar %} {% endblock %}
{% block slider %}{% endblock %}
{% block body %}
    <div class="account-login container">
    {% if content.image %}
        <img src="{{ content.image.url }}" height="200px">
    {% endif %}
        {{ content.detail|safe }}
        {% for rs in images %}
            <img src="{{ rs.image.url }}">
        {% endfor %}
    </div>

{% endblock %}