{% extends 'homebase.html' %}
{% load static %}

{% block title %}{{ setting.title }}{% endblock %}
{% block description %}{{ setting.description }}{% endblock %}
{% block keywords %}{{ setting.keywords }}{% endblock %}
{% block head %}
           <script>
        $( function() {
            $( "#accordion" ).accordion();
        } );
    </script>
    {% include 'head.html' %}
       <style>
           #accordion{
               padding: 20px 75px 20px 75px ;


           }
       </style>
{% endblock %}
{% block sidebar %} {% endblock %}
{% block slider %}{% endblock %}
{% block body %}


        <div class="account-login container">
        <div class="text-center" style="padding-top: 20px"><h1>FAQS</h1></div>

             <div id="accordion">
                    {% for rs in faq %}
                        <h2>{{ rs.question }}</h2>
                        <div>
                            <p>
                                {{ rs.answer | safe }}
                            </p>
                        </div>
                    {% endfor %}
                </div>

        </div>

{% endblock %}