{% load static %}
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>{{setting.title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{setting.description}}">
    <meta name="keywords" content="{{setting.keywords}}">
    <meta name="robots" content="*">
    <link rel="icon" href="#" type="image/x-icon">
    <link rel="shortcut icon" href={{ setting.icon.url }} type="image/x-icon">

<!-- CSS Style -->
    <link rel="stylesheet" type="text/css" href="{% static 'stylesheet/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'stylesheet/font-awesome.css' %}" media="all">
    <link rel="stylesheet" type="text/css" href="{% static 'stylesheet/bootstrap-select.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'stylesheet/revslider.css' %}" >
    <link rel="stylesheet" type="text/css" href="{% static 'stylesheet/owl.carousel.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'stylesheet/owl.theme.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'stylesheet/jquery.bxslider.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'stylesheet/jquery.mobile-menu.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'stylesheet/style.css' %}" media="all">
    <link rel="stylesheet" type="text/css" href="{% static 'stylesheet/responsive.css' %}" media="all">
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,700italic,400,600,700,800" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Teko:300,400,500,600,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Saira+Condensed:300,400,500,600,700,800" rel="stylesheet">
</head>