{% load i18n %}
{% load static %}

<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="*">

    <title>{% block title %} home{% endblock %}</title>
    <meta name="keywords" content="{% block keywords %} Home Keywords {% endblock %}">
    <meta name="description" content="{% block description %} Home description  {% endblock %}">
    <link rel="shortcut icon" href={{ setting.icon.url }} type="image/x-icon">

<!-- CSS Style -->
    <link rel="stylesheet" type="text/css" href="{% static 'stylesheet/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'stylesheet/font-awesome.css' %}" media="all">
    <link rel="stylesheet" type="text/css" href="{% static 'stylesheet/bootstrap-select.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'stylesheet/revslider.css' %}" >
    <link rel="stylesheet" type="text/css" href="{% static 'stylesheet/owl.carousel.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'stylesheet/owl.theme.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'stylesheet/jquery.bxslider.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'stylesheet/jquery.mobile-menu.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'stylesheet/style.css' %}" media="all">
    <link rel="stylesheet" type="text/css" href="{% static 'stylesheet/responsive.css' %}" media="all">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,700italic,400,600,700,800" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Teko:300,400,500,600,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Saira+Condensed:300,400,500,600,700,800" rel="stylesheet">

    <!-- Google font -->


    {% block head %}


    {% endblock %}
</head>
<body>
<div id="page">
    {% include 'header.html'%}
    <div class="content">
{% block sidebar %} {% endblock %}
{% block slider %} {% endblock %}
{% block body %} {% endblock %}
    </div>

{% block foot %}
{% include 'footer.html' %}
    </div>
{% include 'footer2.html' %}
{% endblock %}

</body>
</html>