{% load static %}
#watch video 14 for middle page ads
<div class="container-fluid">

      <div class="row">
        <!-- Slider -->
        <div class="home-slider5">

          <div id="thmg-slideshow" class="thmg-slideshow">
            <div id='rev_slider_4_wrapper' class='rev_slider_wrapper fullwidthbanner-container' >
              <div id='rev_slider_4' class='rev_slider fullwidthabanner'>
                <ul>
                     {% for rs in slider_data %}
                  <li data-transition='random' data-slotamount='7' data-masterspeed='1000' data-thumb="{{ rs.photo.url }}"><img src="{{ rs.photo.url }}"  data-bgfit='cover' data-bgrepeat='no-repeat' alt="banner"/>

                      <div class="container">
                      <div class="content_slideshow">
                        <div class="row">
                          <div>
                            <div class="info">
                              <div class='tp-caption ExtraLargeTitle sft  tp-resizeme ' data-endspeed='500' data-speed='500' data-start='1100' data-easing='Linear.easeNone' data-splitin='none' data-splitout='none' data-elementdelay='0.1' data-endelementdelay='0.1' style='z-index:2; white-space:nowrap;'><span>Top Brands {{ rs.year_of_production }}</span> </div>
                              <div class='tp-caption LargeTitle sfl  tp-resizeme ' data-endspeed='500' data-speed='500' data-start='1300' data-easing='Linear.easeNone' data-splitin='none' data-splitout='none' data-elementdelay='0.1' data-endelementdelay='0.1' style='z-index:3; white-space:nowrap;'><span style="font-weight:normal; display:block">{{ rs.category }}</span>
                                  {{ rs.title }} </div>
                              <div class='tp-caption Title sft  tp-resizeme ' data-endspeed='500' data-speed='500' data-start='1450' data-easing='Power2.easeInOut' data-splitin='none' data-splitout='none' data-elementdelay='0.1' data-endelementdelay='0.1' style='z-index:4; white-space:nowrap;'>Get 10% OFF on selected items.</div>
                              <div class='tp-caption sfb  tp-resizeme ' data-endspeed='500' data-speed='500' data-start='1500' data-easing='Linear.easeNone' data-splitin='none' data-splitout='none' data-elementdelay='0.1' data-endelementdelay='0.1' style='z-index:4; white-space:nowrap;'><a href='/car/{{ rs.id }}/{{ rs.slug }}/' class="buy-btn">BUY NOW</a> </div>
                            </div>

                          </div>
                        </div>
                      </div>
                    </div>
                  </li>
                    {% endfor %}
                </ul>

                <div class="tp-bannertimer"></div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>