{% load static %}
{% load crispy_forms_tags %}
<html lang="en">
<head>
    <title>user panel</title>
</head>

<body>
<div id="page">
    {% include 'header.html' %}
    <section class="main-container col2-left-layout bounceInUp animated">
        <div class="container">
            <div class="row">
                <div class="col-main col-sm-9 col-sm-push-3 product-grid">
                    <div class="pro-coloumn">
                        <article class="col-main">
                            <div class="toolbar">
                                <div class="sorter">
                                   <h3 style="margin-bottom: 0;margin-top: 0"> make new ad</h3>
                                </div>
                            </div>
                            <div class="category-products"> <!-- main right-->


                                <div class="box-content box-category">
                                    <div class="box-content box-category">
                                        <form method="post" enctype="multipart/form-data">
                                            {% csrf_token %}
                                            {{ form.as_p}}
                                            {{ formset.as_p }}
                                            <input type="submit" value="Save">
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </article>

                    </div>
                </div>
                {% include 'user_nav.html' %}
                <!--col-right sidebar-->
            </div>
            <!--row-->
        </div>
    </section>

    {% include 'footer.html' %}
</div>
{% include 'footer2.html' %}
</body>
</html>