{% load static %}
<html lang="en">
<head>
    <title>user ad update</title>
</head>

<body>
<div id="page">
    {% include 'header.html' %}
    <section class="main-container col2-left-layout bounceInUp animated">
        <div class="container">
            <div class="row">
                <div class="col-main col-sm-9 col-sm-push-3 product-grid">
                    <div class="pro-coloumn">
                        <article class="col-main">
                            <div class="toolbar">
                                <div class="sorter">
                                   <h3 style="margin-bottom: 0;margin-top: 0"> Edit ad</h3>
                                </div>
                            </div>
                            <div class="category-products"> <!-- main right-->


                                <div class="box-content box-category">
                                    <form method="POST" enctype="multipart/form-data">
                                        {% csrf_token %}
                                        <fieldset class="form-group">
                                            {{ form.as_p }}
                                         {{ formset.management_form }}
                                            {% for f in formset %}
                                                {{ f.as_p }}
                                            {% endfor %}
                                        </fieldset>
                                        <div class="form-group">
                                            <button class="primary-btn" type="submit">Update</button>
                                        </div>
                                    </form>


                                </div>
                            </div>
                        </article>
                    </div>
                </div>
                {% include 'user_nav.html' %}
                <!--col-right sidebar-->
            </div>
            <!--row-->
        </div>
    </section>

    {% include 'footer.html' %}
</div>
{% include 'footer2.html' %}
</body>
</html>