{% load static %}
<html lang="en">
<head>
    <title>user panel</title>

</head>

<body>
<div id="page">
    {% include 'header.html' %}
    <section class="main-container col2-left-layout bounceInUp animated">
        <div class="container">
            <div class="row">
                <div class="col-main col-sm-9 col-sm-push-3 product-grid">
                    <div class="pro-coloumn">
                        <article class="col-main">
                            <div class="toolbar">
                                <div class="sorter">
                                   <h3 style="margin-bottom: 0;margin-top: 0"> User Info</h3>
                                </div>
                            </div>
                            <div class="category-products"> <!-- main right-->
                                {% if messages %}
                                    {% for message in messages %}
                                         <div style="color:green; font-size: medium; text-align: center">

                                        {{ message|safe }}
                                         </div>

                                    {% endfor %}
                                {% endif %}

                                <div id="profile_pic_div"><img id="profile_pic" src="{{ profile.image.url }}"/></div>
                                <div class="box-content box-category">
                                     <div class="right-1">
                                        <div class="btn1" ><a href="/user/update/">update info</a></div>
                                        <div class="btn2"><a href="/user/password/">change password</a></div>
                                    </div>

                                    <ul id="user_info">
                                        <li id="user_info_name"><span
                                                >{{ profile.user.first_name }} {{ profile.user.last_name }}</span>
                                        </li>
                                        <li id="user_info_attr"><span id="sp_attr">Phone number:</span>  {{ profile.phone }}</li>
                                        <li id="user_info_attr"><span id="sp_attr">Email:</span> {{ profile.user.email }}</li>
                                        <li id="user_info_attr"><span id="sp_attr">Country:</span>  {{ profile.country }}</li>
                                        <li id="user_info_attr"><span id="sp_attr">City:</span>  {{ profile.city }}</li>
                                        <li id="user_info_attr"><span id="sp_attr">Address:</span>  {{ profile.address }}</li>

                                    </ul>

                                </div>

                            </div>
                        </article>

                    </div>

                </div>
                {% include 'user_nav.html' %}
                <!--col-right sidebar-->

            </div>

            <!--row-->
        </div>
    </section>

    {% include 'footer.html' %}
</div>
{% include 'footer2.html' %}
</body>
</html>