<aside class="col-left sidebar col-sm-3 col-xs-12 col-sm-pull-9 wow bounceInUp animated">
                    <div class="side-nav-categories">




                        <div class="midd">
                            <ul id="user_nav">
                                <a href="/user">
                                    <li>my info</li>
                                </a>
                                <a href="/user">
                                    <li>messages</li>
                                </a>
                                <a href="/user">
                                    <li>my ads</li>
                                </a>
                                <a href="/user">
                                    <li>favorite</li>
                                </a>
                                 <a href="/logout">
                                    <li>logout</li>
                                </a>
                            </ul>
                        </div>
                    </div>

                </aside>